apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: news-app-monitor
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: news-app
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
